{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "vitest",
    "prettier"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2020
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": "warn",
    "no-unused-vars": "warn",
    "vue/multi-word-component-names": [
      "error",
      {
        "ignores": [
          "Accordion",
          "Alert",
          "Avatar",
          "Badge",
          "Button",
          "Calendar",
          "Card",
          "Checkbox",
          "Collapsible",
          "Command",
          "Dialog",
          "Input",
          "Label",
          "Menubar",
          "Popover",
          "Progress",
          "Select",
          "Separator",
          "Sheet",
          "Slider",
          "Switch",
          "Table",
          "Tabs",
          "Textarea",
          "Toast",
          "Toaster",
          "Tooltip"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": ["components/ui/**/*.vue"],
      "rules": {
        "vue/multi-word-component-names": "off",
        "vue/require-default-prop": "off",
        "func-call-spacing": "off"
      }
    },
    {
      "files": ["pages/**/*.vue"],
      "rules": {
        "vue/multi-word-component-names": "off"
      }
    }
  ]
}