{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "plugins": [
    "vitest"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2020
  },
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-console": "warn",
    "no-unused-vars": "warn"
  }
}